<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="index">
<body>
	<div layout:fragment="content :: content-page" th:remove="tag">
		<script>
			importScript('PostEntry');
			var ajax = new AjaxRequest('/post/board');
			ajax.method = 'GET';
			ajax.send(null, function(jsonObj){
				var len = jsonObj.length;
				for(i=0;len>i;i++) {
					printPostEntry(jQuery('.post-container'), jsonObj[i])				
					printPostEntry(jQuery('.post-container'), jsonObj[i])									
				}
			});
		</script>
		<div class="header-obscure"></div>
		<div class="container-fluid one-page">
		<div class="row">
			&nbsp;
		</div>
        <div class="row">
        	<div class="container-fluid">
        		<div class="row">
		          	<div class="offset-lg-1 col-lg-1 block profile-left-bar d-none d-xl-block">
		          		left bar
		          	</div>
		          	<div class="offset-lg-1 col-lg-4 profile-center-bar">
						<div class="row">
							<div class="col-lg-12">
								<div th:include="user/post_area :: post"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 post-container">
															
							</div>
						</div>		          		
		          	</div>
		          	<div class="offset-lg-1 col-lg-2 block profile-right-bar d-none d-xl-block">
		          		right bar
		          	</div>
        		</div>
        	</div>
        </div>
    </div>
	</div>
</body>
</html>