<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="index">
<body>
	<div layout:fragment="content :: content-page" th:remove="tag">
		<script>
			importScript('PostEntry');
			fetchEntries(10);
			
			jQuery(window).scroll(function () { 
				   if (jQuery(window).scrollTop() >= jQuery(document).height() - jQuery(window).height()) {
						fetchEntries(10,document.getElementsByClassName('post-entry').length);
				   }
				});
		</script>
		<div class="header-obscure"></div>
		<div class="container-fluid one-page">
		<div class="row">
			&nbsp;
		</div>
        <div class="row">
        	<div class="container-fluid">
        		<div class="row">
		          	<div class="offset-lg-1 col-lg-1 block profile-left-bar d-none d-xl-block">
		          		left bar
		          	</div>
		          	<div class="offset-lg-1 col-lg-4 profile-center-bar">
						<div class="row">
							<div class="col-lg-12">
								<div th:include="user/post_area :: post"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 post-container">
															
							</div>
						</div>		          	
						<div class="row">
							<h3 class="display-3">
								There're not more posts :(
							</h3>
						</div>	
		          	</div>
		          	<div class="offset-lg-1 col-lg-2 block profile-right-bar d-none d-xl-block">
		          		right bar
		          	</div>
        		</div>
        	</div>
        </div>
    </div>
	</div>
</body>
</html>