<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="post">
		<div class="row">
			<div class="col-lg-12 post-area">
				<div class="row">
					<form class="form-horizontal post-form" role="form" id="new-post" method="POST" onsubmit="sendNewPost(this, addPostToBoard); return false;">
						<img th:src="${context.getUser().imageUrl}" class="block user-form-profile-image"/>
						<div class="form-group block">
							<div class="title">
								Share hobby with your friends!
							</div>
							<div class="form-description hidden">
							</div>
							<textarea rows="1" cols="5" class="form-control" name="content" data-autoresize="" placeholder="How are you today?"></textarea>
							<div class="post-attachments-preview"></div>
							<script>
								var addPostToBoard = function(jsonObject) {
									printPostEntry(jQuery('.post-entry').first(),jsonObject,true);
									document.getElementById('new-post').reset();
									document.getElementsByClassName('post-attachments-preview')[0].innerHTML = "";
									jQuery('.post-attachments-preview').hide();
									jQuery('.post-attachments').hide();
								}
							</script>
							<div class="post-attachments">
								<div class="upload-btn-wrapper">
									<input type="file" name="photo" onchange="showMiniPhoto(this)"/>
									<div class="photo">
										<i class="fa fa-camera-retro"></i>	
										<small class="font-weight-bold">add photo</small>					
									</div>
								</div>
								<div class="upload-btn-wrapper">
									<input type="file" name="video" onchange="showMiniPhoto(this)"/>
									<div class="video">
										<i class="fa fa-video-camera"></i>
										<small class="font-weight-bold">video</small>
									</div>
								</div>
								<div class="upload-btn-wrapper">
									<input type="file" name="doc" onchange="showMiniPhoto(this)"/>
									<div class="document">
										<i class="fa fa-file"></i>
										<small class="font-weight-bold">document</small>
									</div>
								</div>
							</div>
							<button class="standard-btn block work-sans-medium"><b>publish</b></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>