<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head" th:remove="tag"></head>
<body th:fragment="profile-page">
	<div class="header-obscure"></div>
	<div th:include="normal_header :: header" th:remove="tag"></div>
	 <div class="container-fluid one-page">
        <div class="row user-presentation">
            <div class="col-lg-10 profile">
                <div class="row">
                    <div class="image-profile-wrapper">
                            <img src="/images/gandalf.jpg" class="profile-image oryginal default"/>
                            <img src="/images/gandalf.jpg" class="profile-image default blur"/>
		                    <div th:if="${extranetContext.isUserLogged()} AND (${extranetContext.getUser().getId()} == ${userProfile.getId()})" th:remove="tag">
			                    <a href="/profile/settings/account" class="misc user-settings"><i class="fa fa-cogs"></i></a>
		                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 profile-nav">
            	<ul>
            		<li><a href="#">Information</a></li>
            		<li><a href="#">Information</a></li>
            		<li><a href="#">Information</a></li>
            	</ul>
            </div>
        </div>
        <div class="row profile-content">
          	<div class="col-lg-2 block profile-left-bar">
          		left bar
          	</div>
          	<div class="col-lg-offset-1 col-lg-6 block profile-center-bar">
          		<div th:if="${extranetContext.isUserLogged()} AND (${extranetContext.getUser().getId()} == ${userProfile.getId()})" th:remove="tag">
					<div class="row">
						<div class="col-lg-offset-1 col-lg-10">
							<form class="form-horizontal" role="form" id="new-post" method="POST" onsubmit="sendAjaxWithUrl('/post/new', this, somecallback); return false;">
								<div class="form-description">
									<small>Publish your first post!</small>
								</div>
								<div class="form-group">
									<textarea rows="3" cols="9" class="form-control" name="content"></textarea>
									<button class="btn setting-btn">change email</button>
								</div>
							</form>
						</div>
					</div>
          		</div>
          	</div>
          	<div class="col-lg-offset-1 col-lg-2 block profile-right-bar">
          		right bar
          	</div>
        </div>
    </div>
</body>
</html>