@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-Light.ttf');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('/fonts/awesome/fontawesome-webfont.ttf');
}

@font-face {
	font-family: 'Work Sans';
	src: url('/fonts/workSans/WorkSans-Bold.ttf');
}

html {
	margin: 0;
	padding: 0;
	background-color: #F3F6F8;
	height: 100%;
}

body {
	font-family: 'Quicksand' !important;
	height: 100%;
	background-color: #F3F6F8 !important;
}

:focus, :active {
	outline: none !important;
	text-decoration: none;
}

a {
	color: inherit !important;
}

a:hover {
	cursor: pointer;
}

a:hover, a:active, a:focus {
	text-decoration: none !important;
	color: inherit !important;
}

.one-page {
	min-height: 85vh;
	margin: 0;
}

#header {
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	color: white;
	background-color: #E61D2B;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	height: 95%;
	transition-duration: .2s;
}

.row.header-row{
	margin: 0;
	height:100%;
}

#header .title {
	font-size: 60px !important;
}

#header .sub-title {
	font-size: 20px;
}

.border-button {
	height: 100px;
	line-height: 100px;
	width: 240px;
	vertical-align: middle;
	background-color: transparent;
	color: #E61D2B;
	border: solid #E61D2B 4px;
	transition-duration: .2s;
	font-size: 30px;
}

.border-button:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.logo-contrast {
	background-color: white;
	color: #E61D2B;
	padding: 10px;
	transition-duration: .5s;
}

.white-red {
	background-color: white;
	color: #E61D2B;
}

.right-col, .left-col {
	padding-top: 25%;
	padding-bottom: 60px;
}

.right-col {
	padding-top: 5%;
}

#header form input {
	border: solid #E61D2B 2px;
	border-radius: 0;
}

.top-margin-row {
	margin-top: 20px;
}

.black-text {
	color: black;
}

.sign-in-header {
	position: fixed;
	width: 100%;
	height: 5%;
	top:5px;
	right: 15px;
	font-size: 10px !important;
}

.sign-in-header form {
	display: flex;
	align-items:center;
	flex-flow: row;
	font-family: 'Segoe UI';
	justify-content: end;
}

.sign-in-header .form-description {
	margin-right: 15px;
	margin-left: 15px;
	font-size: 12px !important;
}

.width_50 {
	width: 50%;
}
.width_70 {
	width: 70%;
}

.width_30 {
	width: 30%;
}

.sign-in-header input{
	height: 50%;
	padding: 0;
	padding: 8px;
	margin-right: 10px;
}

.sign-in-header .btn {
	border-radius: 6px; 
	padding: 8px;
	border: solid #e61d2b 1px;
	color: #e61d2b;
	font-weight: 700;
	font-family: 'Segoe UI';
}

#normal-header {
	background: #E61D2B;
	color: #F3F6F8;
	min-height: 50px;
	padding-left: 30px;
}

#search-form .input-group {
	margin-top: 10px;
	color: snow;
	border: none;
}

#search-form .input-group-addon {
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	border-left: solid #E61D2B 1px;
}

#search-form button {
	background-color: transparent;
	border: none;
	color: snow;
}

#search-form input {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: none;
	color: snow;
}

#search-form input::placeholder {
	color: #d8d8e1;
}

.hobbyte-title {
	font-size: 24px;
	line-height: 50px;
}

#normal-header ul.social-nav {
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	line-height: 35px;
}

img.header-profile {
	width: 35px;
	height: auto;
	border-radius: 6px;
	border: solid white 1px;
}

span.header-profile-name {
	font-size: 12px;
}

#normal-header ul.social-nav li {
	padding: 10px;
	font-size: 18px;
}

.header-obscure {
	background-image: url('/images/block-dot.png');
	background-position: center;
	background-repeat: repeat;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

a.header-slogan {
	position: absolute;
	width: 100%;
	line-height: 200%;
	text-align: center;
	top: 45%;
	font-size: 36px;
	background-color: rgba(255, 0, 0, 0.5);
	color: #F3F6F8 !important;
}

#sign-buttons {
	position: absolute;
	right: 7%;
	top: 10%;
	background-color: transparent;
}

#sign-buttons button {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	font-size: 20px;
	transition-duration: 0.1s;
}

#sign-buttons button:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

#header .navbar {
	position: absolute !important;
	left: 0;
	top: 0;
	min-height: 100%;
	height: auto;
	background-color: #F3F6F8;
	border-radius: 0;
	border-radius: 0;
	min-width: 300px;
	width: 40%;
	z-index: 999;
}

button .menu-icon {
	font-size: 24px;
}

ul {
	list-style: none;
}

.navbar ul {
	padding: 15px;
	padding-top: 30px;
	width: 100%;
}

.navbar li {
	color: #333333;
	font-size: 24px;
	transition-duration: 0.2s;
	padding: 15px;
}

.navbar li:hover {
	background-color: rgba(255, 0, 0, 0.7);
}

.navbar li:not (:last-child ){
	margin-bottom: 15px;
}

.socials {
	font-size: 18px;
	padding: 15px;
}

.socials .sub-title {
	border-bottom: solid 1px;
	border-top: solid 1px;
}

.socials .facebook:hover {
	color: #3b5998 !important;
}

.socials .linkedin:hover {
	color: #0077B5 !important;
}

.socials .snapchat:hover {
	color: #ccce11 !important;
}

ul>li {
	width: inherit;
}

.navbar-left .close {
	display: none;
	margin-right: 15px;
}

#footer {
	font-family: 'Work Sans', sans serif;
	font-weight: 700;
	background-color: #fff;
	border-top: 1px solid #e6ecf0;
	color: #E61D2B;
	position: sticky;
	padding: 15px;
	height: 5%;
	line-height: 100%;
}

small.small {
	font-size: 8px;
}

small.small a {
	color: #c14558 !important;
}

#footer a {
	margin-right: 15px;
}

.link-list > .pipe {
	margin-right: 10px;
	margin-left: 10px;
}

.copyright {
	margin-top: 15px;
}

#management ul {
	list-style: none;
	font-size: 20px;
}

li.title {
	font-size: 150%;
	margin-bottom: 15px;
}

#auth-container .image-holder {
	background-image: url('/images/sign-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	filter: blur(2px);
}

.fullscreen {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

#auth-container .panel {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.3);
	color: #F3F6F8;
	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
	padding: 15px;
}

.alert-danger {
	background-color: rgba(169, 68, 66, 0.6);
	color: white;
	font-size: 11px;
	family-font: 'Quicksand' !important;
	font-weight: normal;
}

.alert-danger i {
	left: 15px;
}

form .btn-primary {
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
	transition-duration: 0.1s;
	font-size: 18px;
	border: none;
	width: 100%;
}

form .dark {
	background-color: #E61D2B !important;
}

form .dark:hover {
	background-color: #e61d2b !important;
	box-shadow: 0 0 10px #e61d2b;
	transform: scale3d(1.05, 1.05, 1.05);
}

form .btn-primary:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.link-wrapper {
	display: flex;
	flex-flow: column;
}

.link-wrapper>a {
	margin-top: 5px;
}

.alert-danger i {
	position: absolute;
	font-size: 24px;
}

.alert ul {
	list-style: none;
}

.custom-checkbox {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark ~ input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: solid white 1px;
	border-radius: 3px;
}

.custom-checkbox:hover input ~ .checkmark {
	background-color: transparent;
}

.custom-checkbox input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.float-left {
	float: left;
	width: 100%;
}

.float-right {
	float: right;
	width: 100%;
}

.user-presentation {
	margin-top: 0;
	background-image: url('/images/sign-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile-content .profile-right-bar, .profile-content .profile-left-bar
	{
	height: 200px;
}

.profile-center-bar {
	height: 400px;
}

div.profile-nav {
	float: right;
	padding-right: 0;
	position: relative;
}

.profile-nav ul {
	list-style: none;
	text-align: right;
}

.profile-nav li {
	margin-top: 10px;
	padding: 10px;
	margin-right: 0;
	color: white;
	background-color: black;
	transition-duration: 0.3s;
}

.profile-nav li:hover {
	width: 150%;
}

.image-profile-wrapper {
	position: relative;
	bottom: -50px;
	margin-left: 40px;
}

img.blur {
	filter: blur(2px);
	position: relative;
	z-index: 50;
}

img.oryginal {
	border: solid white 2px;
	border-radius: 3px;
	z-index: 100;
}

a.misc.user-settings i {
	position: relative;
	left: -30px;
	bottom: -70px;
	font-size: 18px;
	z-index: 100;
}

.profile-image {
	position: absolute;
	max-width: 168px;
	max-height: 168px;
	transition-duration: 0.2s;
}

.profile-image:hover+.blur {
	transform: scale(1.2);
	filter: blur(5px)
}

div.profile-content {
	margin-top: 100px;
}

.user-description {
	position: absolute;
	top: 0;
	left: 0;
	font-style: italic;
	color: #ababab;
	font-size: 200%;
	text-align: center;
	width: 100%;
}

.left-bar ul {
	list-style: none;
}

.left-bar ul>li {
	font-size: 150%;
}

.model-form {
	background-color: rgba(255, 0, 0, 0.3);
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 3px;
}

.model-form .row {
	padding-top: 7px;
	padding-bottom: 7px;
}

.model-form div.row:nth-child(2n+1) {
	background-color: rgba(255, 0, 0, 0.5);
}

.hobbyte-info {
	max-height: 70vh;
	position: absolute;
	top: 15%;
	right: 20%;
}

.info-box {
	position: absolute;
	min-width: 500px;
	min-height: 300px;
	left: 15%;
	top: 15%;
	padding: 30px;
}

.info-box.success {
	border: solid #a2ff86 2px;
	background-color: #7ffb5a;
}

.error-page {
	background-image: url('/images/clouds.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	z-index: 0;
	transition-duration: 0.1s;
	color: white;
	overflow: hidden;
}

.error-page.four-zero-four {
	background-image: url('/images/404.png');
	background-size: unset;
	height: 90%;
}

#error-message {
	display: none;
	padding: 15px;
}

.error-page .row {
	margin: 0;
}

.error-page .title {
	border-bottom: solid white 1px;
}

.error-page .title button {
	background-color: transparent;
	margin: 0;
	color: white;
	border: none;
	text-align: right;
	width: 100%;
}

.error-page .content {
	word-wrap: break-word;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.error-page .nav {
	font-size: 18px;
}

.error-page .nav ul {
	list-style: none;
}

.error-page .contact {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	box-shadow: 5px 5px 10px black;
}

.block {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	background-color: #F3F6F8;
}

.settings-type-list {
	margin-top: 3px;
	background-color: #F3F6F8;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
}

.settings-type-list ul {
	display: flex;
	flex-flow: row;
	list-style: none;
	justify-content: space-between;
}

.settings-type-list li {
	font-size: 24px;
	transition-duration: 0.3s;
	margin-left: 15px;
	padding: 15px;
	color: grey;
}

.settings-type-list li:hover {
	color: black;
	transform: scaleX(1.05);
}

.active-setting-category {
	color: black !important;
	transform: scaleX(1.05);
	border-bottom: solid black 2px;
}

.list-title h4 {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}

.settings-nav {
	background-color: snow;
	padding: 15px;
	margin-left: 15px;
	background-color: #F3F6F8;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	margin-bottom: 30px;
}

.settings-nav ul {
	list-style: none;
	border-radius: 3px;
	padding: 0;
}

.settings-nav li {
	padding-left: 3px;
	padding: 10px;
	border-bottom: solid black 1px;
}

.settings-nav li:hover {
	border-left: solid black 3px;
}

.settings-content {
	background-color: #F3F6F8;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	padding: 30px !important;
	margin-bottom: 30px;
}

li a {
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

.dynamic-form {
	margin-top: 10px;
}

.settings-content .mega-title {
	font-size: 36px;
	margin-top: 30px;
}

.dynamic-form .title {
	margin-left: 30px;
	text-align: left;
	font-weight: bold;
	border-radius: 0;
	padding-left: 0;
}

.pale {
	color: #ababab !important;
}

.dynamic-form form {
	margin-left: 60px;
	text-align: left;
	width: 80%;
}

.dynamic-form .title:active {
	box-shadow: none;
}

.dynamic-form .title::after {
	padding-left: 10px;
	content: '\f101';
	font-family: 'FontAwesome';
}

.form-description {
	background-color: #fcf8e3;
	border: solid #faebcc 1px;
	color: #8a6d3b;
	padding: 15px;
	transition-duration: 0.2s;
}

.form-description.hide {
	display: none;
}

.form-description.success {
	background-color: #DFF0D8;
	border: solid #D6E9C6 1px;
	color: #3C763D;
}

.form-description.fail {
	background-color: #F2DEDE;
	border: solid #EBCCD1 1px;
	color: #C04442;
}

.hidden {
	display: none;
}

.btn.setting-btn {
	float: right;
	font-size: 10px;
	box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.setting-btn:hover {
	box-shadow: inset 100px 0 0 0 #e0e0e0;
	color: #fff;
}

.setting-btn::after {
	padding-left: 10px;
	content: '\f101';
	font-family: 'FontAwesome';
}

iframe {
	margin: 0;
	padding: 0 !important;
}

.menu-tree {
	border-right: solid black 2px;
	height: 80vh;
	padding: 15px;
}

.menu-tree-element-wrapper {
	padding-left: 10px;
}

.menu-tree-element-entity {
	font-size: 12px;
	line-height: 12px;
	margin-top: 3px;
	display: flex;
	flex-flow: row;
}

.menu-tree-element-entity:hover {
	cursor: pointer;
}

.menu-tree-element-entity i {
	padding-right: 5px;
}

.toolbar {
	background-color: #e61d2b;
	color: white;
	margin-right: 0;
	padding: 5px;
}

.toolbar button {
	background-color: transparent;
	margin-left: 5px;
	font-size: 11px;
}

.console {
	margin-top: 30px;
	width: 100%;
}

.console tr:nth-child(even) {
	background-color: #eee;
}

.console tr:nth-child(odd) {
	background-color: #fff;
}

.console tr {
	border-bottom: solid black 1px;
	padding: 5px;
}

.console tr:hover:not (:first-child ){
	background-color: rgba(0, 0, 0, 0.4);
}

.console-header {
	font-weight: bold;
	padding: 5px;
}

.console tr[id^='bean'] td {
	padding: 2px;
}

.row div.post-area {
	position: relative;
	padding-bottom: 15px;
	border-radius: 5px;
}

.post-area .title {
	text-align: center;
	font-size: 180%;
	width: 80%;
	margin-left: 10%;
}

.post-area .form-description {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5px;
}

.post-attachments {
	display: flex;
	flex-flow: row;
	margin-top: 5px;
	padding: 5px;
	padding-left: 15px;
	width: 80%;
	margin-left: 10%;
	background-color: #c3d2dc;
	border-radius: 5px;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn-wrapper div:hover {
	cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
}

.upload-btn-wrapper input[type=file]:hover {
	cursor: pointer;
}

.post-attachments-preview {
	margin-left: 10%;
	width: 80%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: #c3d2dc;
	display: flex;
	flex-flow: row;
}

.attach-wrapper {
	margin-left: 10px;
}

.attach-wrapper *:hover {
	cursor: pointer;
}

#photo-mini-preview {
	opacity: 0.7;
	border-radius: 4px;
	transition-duration: 0.15s;
}

#photo-mini-preview:hover {
	opacity: 1;
}

.max-photo {
	height: 80%;
	width: 50%;
	position: fixed;
	top: 10%;
	left: 25%;
	z-index: 99999;
}

.post-attachments div {
	margin-right: 10px;
}

.post-attachments input {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.post-attachments i {
	font-size: 15px;
}

.post-form {
	margin-top: 10px;
}

.post-form textarea {
	width: 80%;
	margin-left: 10%;
	background-color: transparent;
	transition-duration: 0.4s;
}

.post-form textarea:focus {
	background-color: white;
}

.post-form button {
	position: relative;
	left: -10%;
	margin-top: 10px;
}

@media only screen and (max-width:961px) {
	#header .navbar-left {
		height: auto;
		width: 100%;
		margin: 0;
	}
	.text-md-center {
		text-align: center;
	}
	.navbar-left .close {
		display: block;
	}
	.header-slogan {
		font-size: 24px;
	}
	.error-page {
		overflow: visible;
	}
	.error-page .nav {
		margin-top: 15px;
		padding-left: 15px;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.error-page .nav ul {
		padding: 15px;
		text-align: center;
	}
	.settings-type-list ul {
		display: unset;
		list-style: none;
	}
	.settings-nav {
		display: none;
	}
	.row div.post-area {
		position: inherit;
		margin-top: 30px;
	}
	
	#header, #header > * {
		height: auto;
	}
	
	.sign-in-header {
		width: 100%;
		top:0;
		right: 0;
	}
	
	.sign-in-header > *{
		background-color: rgba(0,0,0,0.5)
	}
	
}

@media only screen and (max-width:480px) {
	.header-slogan {
		font-size: 12px;
	}
	#auth-container .panel {
		width: 100%;
		padding: 5px;
	}
	.image-profile-wrapper {
		text-align: center;
		padding-left: 0;
	}
	
}