<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!--
		HEADER FOR NON-LOGGED USERS
	  -->
	<div th:fragment="sign-up" th:remove="tag">
		<div class="sign-in-header">
			<div class="row">
				<div class="col-lg-6">
					&nbsp;
				</div>
				<div class="col-lg-6">
					<form class="form-inline text-right" id="header-sign-in" role="form" method="POST" onsubmit="sendAjaxWithUrl('/auth/sign-up', this); return false;">
						<div class="form-description hide"></div>
						<input type="hidden" name="rememberMe" value="1" />
						<div class="form-group">
		                  <input type="text" class="form-control" id="header-login" name="login" placeholder="username"/>
		                </div>
		                 <div class="form-group">
							<input type="password" class="form-control" id="header-password" name="password" placeholder="password" />
		                 </div>
		                 <div class="form-group">
							<input type="submit" class="form-control btn" value="sign up"/>
		                 </div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	<!-- 
		HEADER FOR LOGGED USERS
	 -->
	<div th:fragment="logged">
	    <div class="container-fluid" id="normal-header">
	        <div class="row">
	        	<div class="col-lg-1">
		        	<a href="/">
		        	<span class="hobbyte-title"><b>hobbyte</b></span>
		        	</a>
	        	</div>
	        	<div class="col-lg-3 d-none d-xl-block">
					<form action="/search" method="GET" class="form form-inline" id="search-form">
						<div class="input-group">
						    <input type="text" class="form-control" name="search" id="search" placeholder="search" />
							<div class="input-group-addon">
								<button class="btn"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</form>
	        	</div>
	        	<div class="offset-lg-3 col-lg-4">
	        		<ul class="social-nav">
	        			<li>
	        				<a th:href="@{/profile/__${context.getUser().getLogin()}__}" class="row-items">
	        					<img th:src="${context.getUser().getImageUrl()}" class="header-profile"></img>
	        					<span th:text="${context.getUser().name}" class="header-profile-name"></span>
	        				</a>
	        			</li>
		        		<li><a href="#friends"><i class="fa fa-users"></i></a></li>
		        		<li><a href="#messages"><i class="fa fa-comments"></i></a></li>
		        		<li><a href="#notifications"><i class="fa fa-globe"></i></a></li>	
		        		<li><a href="#top"><i class="fa fa-fire"></i></a></li>	
		        		<li th:if="${#strings.equals('ADMIN', #strings.toString(context.getUser().getRole()))}">
		        			<a href="/sys"><i class="fa fa-th"></i></a>	
		        		</li>
	        		</ul>
	        	</div>
	        </div>
	    </div>
	</div>
	
	<!-- 
		FACTORY FOR SET BEST HEADER. CHECK IF USER IS LOGGED.
	 -->
	<div th:fragment="top-header" th:remove="tag">
		<div th:switch="${context.isUserLogged()}" th:remove="tag">
			<div th:case="false" th:include="header :: sign-up"></div>
			<div th:case="*" th:include="header :: logged" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>