<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="head :: head" th:remove="tag"></head>
<head> 
	<meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
</head>
<body>
	<div id="messages-container">
		<div id="error-pop-up-container" th:if="${context.getMessageHandler().hasErrors()}">
			<div th:each="err : ${context.getMessageHandler().popErrors()}" class="alert alert-danger error-pop-up alert-dismissible">
				<span th:remove="tag" th:text="${err}" />
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			</div>
		</div>
		<div id="success-pop-up-container" th:if="${context.getMessageHandler().hasSuccess()}">
			<div th:each="suc : ${context.getMessageHandler().popSuccess()}" class="alert alert-success success-pop-up alert-dismissible">
				<span th:remove="tag" th:text="${suc}" />
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			</div>
		</div>
	</div>
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-left toolbar">
				<div th:each="btn : ${handler.toolbarButtons}" th:remove="tag">
					<form method="get" action="" class="toolbar-button">
						<input type="hidden" name="action" th:value="${btn.codeAction}"></input>
						<input type="hidden" name="console-id" th:value="${console.id}"></input>
						<th:block th:if="${console instanceof T(com.webrest.hobbyte.core.console.details.DetailsConsole)}">
							<input type="hidden" name="bean-id" th:value="${bean.getId()}"></input>
						</th:block>
						<button th:id="${btn.code}">
							<i th:class="${btn.icon}"></i>&nbsp;<span th:text="${btn.label}"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<h3 class="display-3 text-center console-title" th:text="${console.name}"></h3>
		<div layout:fragment="content">
		</div>
	</div>
	
</body>
</html>