<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="head :: head" th:remove="tag"></head>
<head> 
	<meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
</head>
<body>
	<div class="container-fluid">
		<div class="row toolbar">
			<div class="col-lg-12 text-left">
				<button onclick="window.history.back()">
					<i class="fa fa-arrow-circle-left"></i>&nbsp;back
				</button>
				<a th:href="@{${detailsURL}(console-id=(__${console.id}__))}">
					<button onclick="location.reload()">
						<i class="fa fa-refresh"></i>&nbsp;refresh
					</button>
				</a>
				<div layout:fragment="toolbar" th:remove="tag"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<h3 class="display-3 text-center console-title" th:text="${console.name}"></h3>
		<div layout:fragment="content">
		</div>
	</div>
	
</body>
</html>