<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="sys/templates/console">
<head th:include="head :: head" th:remove="tag"></head>
<body>
	<div layout:fragment="toolbar">
		<div th:if="${console.canSave()}" th:remove="tag">
			<a th:href="@{${detailsURL}(action=('save'),console-id=(__${console.id}__))}">
				<button>
					<i class="fa fa-plus-square"></i>&nbsp;save
				</button>
			</a>
		</div>
		<div th:if="${console.canRemove()}" th:remove="tag">
			<a th:href="@{${detailsURL}(action=('remove'),console-id=(__${console.id}__))}">
				<button>
					<i class="fa fa-times-circle"></i>&nbsp;remove
				</button>
			</a>
		</div>
		<div th:if="${console.canAdd()}" th:remove="tag">
			<a th:href="@{${detailsURL}(action=('add'),console-id=(__${console.id}__))}">
				<button>
					<i class="fa fa-plus-square"></i>&nbsp;add
				</button>
			</a>
		</div>
	</div>
</body>
</html>